@model Eventful.Models.KlaxonModel
@using Eventful.Code;
@{
	ViewBag.Title = "Edit";
}

<style>
	#UserSearchResultsDiv
	{
		display: none;
	}
</style>
<h2>Edit</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.form.js")" type="text/javascript"></script>

<form method="PUT" id="EditForm" action="/api/klaxon">
	<div class="row">
		<div class="col-lg-6">
			<div class="form-group">
				<label for="Name">Name</label>
				<input class="form-control" id="Name" name="Name" type="text" data-bind="attr: { value: Name }" />
			</div>

			<div class="form-group">
				<label for="EqlQuery">EqlQuery</label>
				<textarea class="form-control" cols="20" id="EqlQuery" name="EqlQuery" rows="10" data-bind="attr: { text: EqlQuery }"></textarea>
			</div>
			<div class="row">
				<div class="col-lg-6">
					<div class="form-group">
						<label for="ComparisonOperator">ComparisonOperator</label>
						<input class="form-control" id="ComparisonOperator" name="ComparisonOperator" type="text" data-bind="attr: { value: ComparisonOperator }" />
					</div>
				</div>
				<div class="col-lg-6">
					<div class="form-group">
						<label for="ComparisonThreshold">ComparisonThreshold</label>
						<input class="form-control" data-val="true" data-val-number="The field ComparisonThreshold must be a number." data-val-required="The ComparisonThreshold field is required." id="ComparisonThreshold" name="ComparisonThreshold" type="text" value="10" />
					</div>
				</div>
			</div>
			<div class="form-group">
				<label for="CheckEvery">CheckEvery</label>
				<input class="form-control" id="CheckEvery" name="CheckEvery" type="text" data-bind="attr: { value: CheckEvery }" />
			</div>
			<div class="row">
				<div class="col-lg-6">
					<div class="form-group">
						<label for="AggregateOperation">AggregateOperation</label>
						<input class="form-control" id="AggregateOperation" name="AggregateOperation" type="text" data-bind="attr: { value: AggregateOperation }"/>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="form-group">
						<label for="FieldToAggregate">FieldToAggregate</label>
						<input class="form-control" id="FieldToAggregate" name="FieldToAggregate" type="text" data-bind="attr: { value: FieldToAggregate }" />
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-6">
					<div class="form-group">
						<label for="StartTime">StartTime</label>
						<input class="form-control" id="StartTime" name="StartTime" type="text" data-bind="attr: { value: StartTime }" />
					</div>
				</div>
				<div class="col-lg-6">
					<div class="form-group">
						<label for="EndTime">EndTime</label>
						<input class="form-control" id="EndTime" name="EndTime" type="text" data-bind="attr: { value: EndTime }" />
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-6">
					<div class="form-group">
						<label for="LastCheckedAt">LastCheckedAt</label>
						<input class="form-control" data-val="true" data-val-date="The field LastCheckedAt must be a date." data-val-required="The LastCheckedAt field is required." id="LastCheckedAt" name="LastCheckedAt" type="text" data-bind="attr: { value: LastCheckedAt }" />
					</div>
				</div>
				<div class="col-lg-6">
					<div class="form-group">
						<label for="NextCheckAt">NextCheckAt</label>
						<input class="form-control" data-val="true" data-val-date="The field NextCheckAt must be a date." data-val-required="The NextCheckAt field is required." id="NextCheckAt" name="NextCheckAt" type="text" data-bind="attr: { value: NextCheckAt }" />
					</div>
				</div>
			</div>
			<div class="form-group">
				<button type="submit" class="btn btn-primary">Save</button>
				<a href="/Klaxon" class="btn btn-default">Cancel</a>
				<input id="Id" name="Id" type="hidden" data-bind="attr: { value: Id }" />
				<input data-val="true" data-val-number="The field NumMatched must be a number." id="NumMatched" name="NumMatched" type="hidden" value="" />
			</div>

		</div>
		<div class="col-lg-6">
			<div class="form-group">
				<label>Report To Link</label>
				<p class="form-control-static">
					<span id="ReportTitle">NONE</span>
					<button type="button" id="ChangeReportBTN" class="btn btn-default btn-sm">Change...</button>
					<input id="ReportToLink_Id" name="ReportToLink.Id" type="hidden" data-bind="attr: { value: ReportToLink ? ReportToLink.Id : '' }" />
				</p>
			</div>
			<h3>Subscribers</h3>
			<ul data-bind="foreach: SubscriberEmails">
				<li data-bind="text: $data"></li>
			</ul>
		</div>
	</div>
</form>

@using (Html.BootsrapModal("ChooseReportModal", null, "Choose Report...", true))
{
	<p>Choose a report from the list below to include its link in the Klaxon alert message.</p>
	<div id="ReportListDiv" class="unbound">
		<ul data-bind="foreach:eventfulReports">
			<li><button class="btn btn-link chooseReport" data-dismiss="modal" data-bind="attr: { 'data-id': Id }, text: Title"></button></li>
		</ul>
	</div>
}
@*
@using (Html.BootsrapModal("AddSubscriberModal", string.Empty, "Add New Subscriber", true))
{
	<p>Enter a username or email address below to search users.</p>
	<form action="users/search" method="post" id="UserSearchForm">
	<input type="text" class="form-control" id="UserSearchTB" name="searchStr" />
	<br />
	<button type="button" class="btn btn-primary" id="UserSearchBTN">Search</button>
	</form>
	<div id="UserSearchResultsDiv">
		<h2>Matching Users</h2>
		<ul data-bind="foreach: $data, visible: $data && $data.length > 0">
			<li>
				<a href="javascript:void(0)" class="addUserBTN" data-bind="attr: { 'data-user': AsString }" data-dismiss="modal">Add</a>  <span data-bind="	text: AsString"></li>
		</ul>
	</div>
}*@
<div>
	@Html.ActionLink("Back to List", "Index")
</div>
<script>
	$(document).ready(function () {
		function getIdFromLocation() {
			return window.location.pathname.split('/').pop();
		}

		function bindModel() {
			$('body').addClass('loading');
			var id = getIdFromLocation();
			$.ajax({
				url: '/api/klaxon/' + id,
				cache: false,
				method: 'GET'
			}).done(function (data) {
				console.log(data);
				ko.applyBindings(data, $('#EditForm')[0]);
			}).error(function (error) {
				alert(error);
				console.log(error);
			}).always(function () {
				$('body').removeClass('loading');
			})
		}

		$('#EditForm').ajaxForm({
			success: function () {
				document.location = '/klaxon';
			},
			error: function (request, status, error) {
				$('body').removeClass('loading');
				eventful.errorAlert.showAlert(request.ResponseText || error || "Error message unavailable");
			},
			beforeSubmit: function () { $('body').addClass('loading'); }
		});

		bindModel();

		$('body').on('click', '#ChangeReportBTN', function () {
			$('#ChooseReportModal').modal();
			var $reportListDiv = $('#ReportListDiv');
			if ($reportListDiv.hasClass('unbound')) {
				$reportListDiv.addClass('loading');
				$.ajax({
					url: '/reports/getall',
					type: 'POST',
					success: function (response, statusText, xhr, $form) {
						if (response.Error) {
							alert(response.Error);
							return;
						}

						ko.applyBindings(response, $reportListDiv[0]);
						$reportListDiv.removeClass('unbound');
					},
					complete: function () {
						$reportListDiv.removeClass('loading');
					}
				});
			}
		});
		$('body').on('click', '.chooseReport', function () {
			var $clicked = $(this);
			var id = $clicked.data('id');
			var title = $clicked.text();
			$('#ReportToLink_Id').val(id);
			$('#ReportTitle').text(title);
		});
	});
</script>
