@model IEnumerable<Eventful.Models.KlaxonModel>
@using Eventful.Code
@{
	ViewBag.Title = "Klaxon";
}
<style>
	td.statusTD {
		text-align: center;
	}
		td.statusTD div.glyphicon {
			color: white;
			border-radius: 4px;
			padding: 4px 19px 4px 4px;
		}

		td.statusTD div.glyphicon-ok {
			background-color: green;
		}

		td.statusTD div.glyphicon-remove {
			background-color: red;
		}
</style>
<h2>All Klaxons</h2>

<p>
	@Html.ActionLink("Create New", "Create")
</p>
<div class="row">
	<p class="col-xs-6">
		<input type="text" class="form-control" id="FilterTB" placeholder="Filter by Name..." />
	</p>
	<p class="pull-right">
		<button class="btn btn-link" id="SubAllBTN">Sub All</button><button class="btn btn-link" id="UnsubAllBTN">Unsub All</button>
	</p>
</div>
<div class="row">
	<div class="col-xs-12">
		<table class="table table-striped KlaxonsTable">
			<tr>
				<th>
					&nbsp;
				</th>
				<th>Status</th>
				<th>Sub</th>
				<th>
					Name
				</th>
				<th>
					Comparison Operator
				</th>
				<th>
					Comparison Threshold
				</th>
				<th>
					Check Every
				</th>
				<th>
					Last Checked At
				</th>
				<th>
					Next Check At
				</th>
				<th>
					Num Matched Last Run
				</th>
			</tr>
			<!-- ko foreach: $data -->
				<tr>
					<td>
						<a data-bind="attr: { href: '/Klaxon/RunTest/' + Id}">Run</a> | <a data-bind="attr: { href: '/Klaxon/Edit/' + Id }">Edit</a> | <a href="javascript:void(0);" class="deleteButton" data-bind="attr: { 'data-klaxonid': Id }" >Delete</a>
					</td>
					<td class="statusTD">
						<div data-bind="css: { 'glyphicon-ok': TestResult, 'glyphicon-remove': !TestResult }" class="glyphicon"></div>
					</td>
					<td>
						<input type="button" class="btn btn-link" data-bind="attr: { value: CurrentUserIsSubscribed ? 'Unsub' : 'Sub', 'data-id': Id }, css: { unsubscribeBTN: CurrentUserIsSubscribed, subscribeBTN: !(CurrentUserIsSubscribed) }" />
					</td>
					<td data-bind="text: Name">
					</td>
					<td data-bind="text: ComparisonOperator">
					</td>
					<td data-bind="text: ComparisonThreshold">
					</td>
					<td data-bind="text: CheckEvery">
					</td>
					<td data-bind="text: LastCheckedAt">
					</td>
					<td>
						<span data-bind="text: NextCheckAt"></span>
						<a data-bind="attr: {href: 'Klaxon/resetNextCheck/' + Id }" class="btn btn-default btn-xs">Reset</a>
					</td>
					<td data-bind="text: NumMatched">
					</td>
				</tr>
			<!-- /ko -->
		</table>
	</div>
</div>
@using (Html.BootsrapModal("SubscribeModal", null, "Choose Email...", true))
{
	<div id="SubscribeModalContent">
	</div>
}
<script src="/Scripts/eventful.simpleTableFilter.js" type="text/javascript"></script>
<script>
	$(document).ready(function () {

		function loadKlaxons() {
			$('body').addClass('loading');
			$.ajax({
				url: '/api/klaxon/getall',
				cache: false
			}).done(function (data) {
				console.log(data);
				ko.applyBindings(data, $('.KlaxonsTable')[0]);
			}).always(function () {
				$('body').removeClass('loading');
			});
		}
		function doSubscribe(ids) {
			$.get('/Klaxon/SubscribeDialog?idsStr=' + ids, function (data) {
				if (data.Subscribed === true) {
					document.location.reload(true);
				} else {
					$('#SubscribeModalContent').html(data);
					$('#SubscribeModal').modal('show');
				}
			})
		};

		function doUnsubscribe(ids) {
			document.location = '/Klaxon/Unsubscribe?idsStr=' + ids;
		}

		function getVisibleIDs() {
			var ids = '';
			var $subBtns = $('.subscribeBTN:visible,.unsubscribeBTN:visible');
			$subBtns.each(function () {
				var $btn = $(this);
				var id = $btn.data('id');
				ids = ids + id + ',';
			});

			return ids;
		}
		$('body').on('click', '.subscribeBTN', function () {
			var id = $(this).data('id');
			doSubscribe(id);
		});

		$('body').on('click', '.unsubscribeBTN', function () {
			var id = $(this).data('id');
			doUnsubscribe(id);
		});

		$('body').on('click', '#SubAllBTN', function () {
			var ids = getVisibleIDs();
			doSubscribe(ids);
		});

		$('body').on('click', '#UnsubAllBTN', function () {
			var ids = getVisibleIDs();
			doUnsubscribe(ids);
		});

		$('body').on('click', '.deleteButton', function () {
			var $clicked = $(this);
			var url = '/api/klaxon/' + $clicked.data('klaxonid');
			$('body').addClass('loading');
			$.ajax({
				url: url,
				type: 'DELETE',
				data: {
					Id: $clicked.data('klaxonid')
				}
			}).done(function () {
				alert('Klaxon deleted.');
				document.location = '/klaxon';
			}).error(function (error) {
				alert('Error deleting.');
				console.log(error);
			}).always(function () {
				$('body').removeClass('loading');
			});
		});

		loadKlaxons();
		eventful.simpleTableFilter.registerFilterTable('#FilterTB', '.KlaxonsTable', 4);
	});
</script>