syntax: glob
bin
obj
*.user
*.suo
**/logs/**
*.orig
Thumbs.db
.fsLockfile
Bin/**
glob:.fsLockFile
*/packages/*
packages/*
App_Data/*
*.ldf
*.mdf
Eventful/mongoDB.config
Eventful/eventful.config
Eventful/AmazonSecrets.csv
Eventful/NLog.config
Eventful/eventfulBackend.config
Eventful/eventfulLogger.config
EventfulQueueProcessor/eventfulBackend.config
EventfulQueueProcessor/eventfulLogger.config
EventfulQueueProcessor/eventfulQueueProcessor.config
EventfulKlaxonProcessor/eventfulBackend.config
EventfulKlaxonProcessor/eventfulKlaxonProcessor.config
EventfulKlaxonProcessor/eventfulLogger.config
