<EventfulKlaxonProcessor.Properties.Settings>
	<setting name="SmtpServer" serializeAs="String">
		<value>{Your SMTP Server Address}</value>
	</setting>
	<setting name="SmtpPort" serializeAs="String">
		<value>25</value>
	</setting>
	<setting name="SmtpPassword" serializeAs="String">
		<value>{Your SMTP Password}</value>
	</setting>
	<setting name="SmtpUsername" serializeAs="String">
		<value>{Your SMTP Username}</value>
	</setting>
	<setting name="EventfulWebUrl" serializeAs="String">
		<value>{URL to your Eventful Web Instance}</value>
	</setting>
	<setting name="SlackTeamName" serializeAs="String">
		<value>{Your Slack Team Name}</value>
	</setting>
	<setting name="SlackToken" serializeAs="String">
		<value>{Your Secret Slack Token}</value>
	</setting>
</EventfulKlaxonProcessor.Properties.Settings>