<EventfulBackend.Properties.Settings>
	<setting name="MongoDBConnectionString" serializeAs="String">
		<value>{Your MongoDB Connection String}</value>
	</setting>
	<setting name="MongoDBDatabaseName" serializeAs="String">
		<value>{Your MongoDB Database Name}</value>
	</setting>
</EventfulBackend.Properties.Settings>