<EventfulQueueProcessor.Properties.Settings>
	<setting name="EventfulQueueUrl" serializeAs="String">
		<value>{Your AWS Queue URL}</value>
	</setting>
	<setting name="AWSServiceUrl" serializeAs="String">
		<value>{Your AWS Service URL}</value>
	</setting>
	<setting name="AWSAccessKey" serializeAs="String">
		<value>{Your AWS Access Key}</value>
	</setting>
	<setting name="AWSSecretKey" serializeAs="String">
		<value>{Your AWS Secret Key}</value>
	</setting>
	<setting name="MaxDegreeOfParallelism" serializeAs="String">
		<value>10</value>
	</setting>
</EventfulQueueProcessor.Properties.Settings>