@{
	Layout = null;
}

<!DOCTYPE html>

<html lang="en">
<head>
	<title>@ViewBag.Title | eventful</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="/Content/Bootstrap/css/bootstrap3.0.3.min.css" />

	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
	<script src="//ajax.aspnetcdn.com/ajax/knockout/knockout-2.2.0.js"></script>
	<script src="/scripts/jquery.form.js"></script>
	<link href='//fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic|Open+Sans:400,700,600' rel='stylesheet' type='text/css' />
	<!-- Latest compiled and minified JavaScript -->
	<script src="/Content/Bootstrap/js/bootstrap3.0.3.min.js"></script>
	<script src="/Scripts/highcharts/highcharts.js"></script>
	<script src="/Scripts/highcharts/modules/data.js"></script>
	<script src="/Scripts/highcharts/modules/exporting.js"></script>
	<script src="/Scripts/eventful.js"></script>

	<link rel="stylesheet" href="/Content/Bootstrap/css/customOverrides.css" />
	<link rel="stylesheet" href="/Content/Styles/eventful.css" />
</head>
<body>
	<!-- Shared Modal Definition-->
	<div class="modal fade" id="PageModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title" data-bind="text: title"></h4>
				</div>
				<div data-bind="template: { name: templateName(), data: modalContent }">
				</div>
			</div>
		</div>
	</div>
	<!-- End Shared Modal -->
	<div class="navbar navbar-default navbar-fixed-top eventful-nav">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/">{e}ventful</a>
		</div>
		<div class="container">
			<div class="collapse navbar-collapse navbar-ex1-collapse">
				<ul class="nav navbar-nav">
					<li><a href="/query">Query</a></li>
					<li><a href="/aggregate">Aggregate</a></li>
					<li><a href="/reports">Reports</a></li>
					<li><a href="/Klaxon">Klaxon</a></li>
					<li><a href="/help">Help</a></li>
					<li><a href="/users/account">Account</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="container">
		<div>&nbsp;</div>
		@* This div is here for spacing. Not sure why it is needed, but it is... *@
		<div id="PageAlert">
			<div class="alert alert-block alert-danger fade in">
				<h4>An error has occurred...</h4>
				<div id="PageAlertBody">xxx</div>
				<p>
					<button type="button" class="btn btn-danger">Dismiss</button>
				</p>
			</div>
		</div>
		@RenderBody()
		@Html.Partial("BSModalTemplate")
	</div>
	@RenderSection("Scripts", required: false);
	<script type="text/javascript">
		$(document).ready(function () {
			var loc = document.location.href.toLowerCase();
			var $links = $('ul.navbar-nav li a');
			for (var i = 0, len = $links.length; i < len; i++) {
				var $link = $($links[i]);
				var href = $link.attr('href').toLowerCase();
				if (loc.indexOf(href) > -1) {
					$link.parents('li').addClass('active');
					break;
				}
			}
		});
	</script>
	<!-- Modal Templates -->
	<script id="ConfirmModalTemplate" type="text/html">
		<div class="modal-body" data-bind="html: body">
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal" data-bind="click: onCancelClick">Cancel</button>
			<button type="button" class="btn btn-primary" data-dismiss="modal" data-bind="click: onOKClick">OK</button>
		</div>
	</script>

	<script id="AlertModalTemplate" type="text/html">
		<div class="modal-body" data-bind="html: body">
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-primary" data-dismiss="modal" data-bind="click: onOKClick">OK</button>
		</div>
	</script>
</body>
</html>
