<script id="DatePickerPopupTemplate" type="text/html">
	<div class="datePicker">
		<p>Dates in {e}ventful can be specified either as a full datetime string or as a calculated value based on the current time (NOW).</p>
		<p>Some Examples:</p>
		<ul>
			<li>NOW - 15 minutes</li>
			<li>04/15/1971 17:55:00</li>
		</ul>
	</div>
</script>
