
@{
    ViewBag.Title = "LogTest";
}

<h2>LogTest</h2>

<p>
	The logs have been tested. Go <a href="/query?RequestedStartTime=Now%20-%2015%20minutes&RequestedEndTime=Now&EqlQuery=ApplicationName%20%3D%3D%20eventfulWeb&QueryTB=%7B%20%22ApplicationName%22%20%3A%20%22eventfulWeb%22%2C%20%22Timestamp%22%20%3A%20%7B%20%22%24lte%22%20%3A%20ISODate(%222014-07-14T19%3A54%3A30.87Z%22)%2C%20%22%24gte%22%20%3A%20ISODate(%222014-07-14T19%3A39%3A30.87Z%22)%20%7D%20%7D&RequestedPage=1">here</a> to see if they have been logged properly.
</p>