<?xml version="1.0" encoding="utf-8"?>
<!-- EventfulKlaxonProcessor dev config -->
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="EventfulKlaxonProcessor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
			<section name="EventfulBackend.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
			<section name="EventfulLogger.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
		</sectionGroup>
 </configSections>
	<applicationSettings>
		<EventfulKlaxonProcessor.Properties.Settings>
   <setting name="SmtpServer" serializeAs="String">
    <value>{Your SMTP Server Address}</value>
   </setting>
   <setting name="SmtpPort" serializeAs="String">
    <value>25</value>
   </setting>
   <setting name="SmtpPassword" serializeAs="String">
    <value>{Your SMTP Password}</value>
   </setting>
   <setting name="SmtpUsername" serializeAs="String">
    <value>{Your SMTP Username}</value>
   </setting>
   <setting name="EventfulWebUrl" serializeAs="String">
    <value>{URL to your Eventful Web Instance}</value>
   </setting>
   <setting name="SlackTeamName" serializeAs="String">
    <value>{Your Slack Team Name}</value>
   </setting>
   <setting name="SlackToken" serializeAs="String">
    <value>{Your Secret Slack Token}</value>
   </setting>
  </EventfulKlaxonProcessor.Properties.Settings>
		<EventfulBackend.Properties.Settings>
			<setting name="MongoDBConnectionString" serializeAs="String">
				<value>{Your MongoDB Connection String}</value>
			</setting>
			<setting name="MongoDBDatabaseName" serializeAs="String">
				<value>{Your MongoDB Database Name}</value>
			</setting>
		</EventfulBackend.Properties.Settings>
		<EventfulLogger.Properties.Settings>
			<setting name="SmtpServer" serializeAs="String">
				<value>{Your SMTP Server Address}</value>
			</setting>
			<setting name="SmtpPort" serializeAs="String">
				<value>25</value>
			</setting>
			<setting name="SmtpUsername" serializeAs="String">
				<value>{Your SMTP Username}</value>
			</setting>
			<setting name="SmtpPassword" serializeAs="String">
				<value>{Your SMTP Password}</value>
			</setting>
			<setting name="SmtpUseSSL" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="EventfulGroupSuffix" serializeAs="String">
				<value></value>
			</setting>
			<setting name="AWSServiceUrl" serializeAs="String">
				<value>{Your AWS Service URL}</value>
			</setting>
			<setting name="AWSQueueUrl" serializeAs="String">
				<value>{Your AWS Queue URL}</value>
			</setting>
			<setting name="AWSAccessKey" serializeAs="String">
				<value>{Your AWS Access Key}</value>
			</setting>
			<setting name="AWSSecretKey" serializeAs="String">
				<value>{Your AWS Secret Key}</value>
			</setting>
		</EventfulLogger.Properties.Settings>
	</applicationSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
	</startup>
</configuration>
