<EventfulLogger.Properties.Settings>
	<setting name="SmtpServer" serializeAs="String">
		<value>{Your SMTP Server Address}</value>
	</setting>
	<setting name="SmtpPort" serializeAs="String">
		<value>25</value>
	</setting>
	<setting name="SmtpUsername" serializeAs="String">
		<value>{Your SMTP Username}</value>
	</setting>
	<setting name="SmtpPassword" serializeAs="String">
		<value>{Your SMTP Password}</value>
	</setting>
	<setting name="SmtpUseSSL" serializeAs="String">
		<value>False</value>
	</setting>
	<setting name="EventfulGroupSuffix" serializeAs="String">
		<value>
		</value>
	</setting>
	<setting name="AWSServiceUrl" serializeAs="String">
		<value>{Your AWS Service URL}</value>
	</setting>
	<setting name="AWSQueueUrl" serializeAs="String">
		<value>{Your AWS Queue URL}</value>
	</setting>
	<setting name="AWSAccessKey" serializeAs="String">
		<value>{Your AWS Access Key}</value>
	</setting>
	<setting name="AWSSecretKey" serializeAs="String">
		<value>{Your AWS Secret Key}</value>
	</setting>
</EventfulLogger.Properties.Settings>