<EventfulBackend.Properties.Settings>
	<setting name="MongoDBConnectionString" serializeAs="String">
		<value>{The mongodb:// path to your MongoDB instance}</value>
	</setting>
	<setting name="MongoDBDatabaseName" serializeAs="String">
		<value>{The name of the MongoDB}</value>
	</setting>
</EventfulBackend.Properties.Settings>