<?xml version="1.0" encoding="utf-8" ?>
<!-- Eventful.com NLog Config -->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" throwExceptions="true">
	<extensions>
		<add assembly="EventfulLogger" />
	</extensions>
	<targets async="true">
		<target name="Eventful" xsi:type="eventful" ApplicationName="EventfulWeb" ServiceUrl="{YourServiceURL}" QueueUrl="{Your QueueURL}" eventfulGroup="eventfulWeb" AWSAccessKey="{Your AWS Access Key}" AWSSecretKey="{Your AWS Secret Key}"  />
		<target name="file" xsi:type="File" fileName="/logs/${date:format=MM-dd-yyyy}_log.txt" layout="${longdate}|${level:uppercase=true}|${message}${event-context:item=FormattedHttpData}${event-context:item=FormattedExceptionData}${newline}${newline}" archiveEvery="Day" concurrentWrites="false" createDirs="true"/>
	</targets>
	<rules>
		<logger name="*" minlevel="Debug" maxlevel="Debug" writeTo="file" />
		<!--<logger name="*" writeTo="eventful" />-->
	</rules>
</nlog>