<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" throwExceptions="false">
	<extensions>
		<add assembly="Eventful.Shared" />
	</extensions>
	<targets async="true">
		<target name="file" xsi:type="File" fileName="${basedir}/logs/${date:format=MM-dd-yyyy}_${machinename}_log.txt" layout="${longdate}|${level:uppercase=true}|${message}${event-context:item=FormattedHttpData}${event-context:item=FormattedExceptionData}${newline}${newline}" archiveEvery="Day" concurrentWrites="false" createDirs="true"/>
		<target name="errFile" xsi:type="File" fileName="${basedir}/logs/${date:format=MM-dd-yyyy}_${machinename}_err.txt" layout="${longdate}|${message}${event-context:item=FormattedHttpData}${event-context:item=FormattedExceptionData}${newline}${newline}" archiveEvery="Day" concurrentWrites="false" createDirs="true" />
		<target name="console" xsi:type="Console" layout="${longdate}|${message}${event-context:item=FormattedHttpData}${event-context:item=FormattedExceptionData}${newline}${newline}" />
		<target name="eventful" xsi:type="eventful" ApplicationName="EventfulQueueProcessor" ServiceUrl="{Your AWS Service URL}" QueueUrl="{Your AWS Queue URL}" eventfulGroup="eventfulOffline" AWSAccessKey="{Your AWS Access Key}" AWSSecretKey="{Your AWS Secret Key}"  />
	</targets>
	<rules>
		<logger name="*" minlevel="Debug" writeTo="console,file" />
		<logger name="*" minLevel="Error" writeTo="errFile" />
		<logger name="*" minLevel="Info" writeTo="eventful" />
		<!--<logger name="*" minLevel="Error" writeTo="mail" />-->
	</rules>
</nlog>



